{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="user_delete">
        Уверены, что хотите удалить {{ user_to_delete.username }}
        {% if user_to_delete.first_name %}
        <b> {{ user_to_delete.first_name | title }} </b>
        {% if user_to_delete.last_name %}
            {{ user_to_delete.last_name | title }}
        {% endif %}
        {% endif %}
        ?
        <form action="{% url 'admin:category_delete' category_delete.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="удалить">
        </form>
        <button class="btn btn-success">
            <a href="{% url 'admin:categories' %}">
                Отмена
            </a>
        </button>
    </div>
{% endblock %}