{% extends 'master.html' %}
{% load staticfiles %}

{% block page_title %}
Products page
{% endblock %}


{% block menu %}
    <div class="hero-white">
        <div class="header_clearfix">

        </div>
    </div>
{% endblock %}


{% block page_content %}
    <div class="details">
        <div class="categories_list">
            <div class="category-products clearfix">
                <ul class="products-list">
                    {% for cat in category %}
                        <li class="products-list_item">
                            <a href="{% url 'products:category_items' cat.pk %}">{{ cat.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
