<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block page_title %} {% endblock %}</title>
    {% block page_styles %} {% endblock %}
</head>
<body>
    <h2>{% now "jS F Y H:i" %}</h2>
    <ul>
        <li><a href="{% url 'main:index' %}" class="href">Главная</a></li>
        <li><a href="{% url 'main:about' %}" class="href">О проекте</a></li>
        <li><a href="{% url 'main:contacts' %}" class="href">Контакты</a></li>
        <li><a href="{% url 'products:index' %}" class="href">Товары</a></li>
        <li><a href="{% url 'products:category' %}" class="href">Категории</a></li>
        <li><a href="{% url 'basket:view' %}" class="href">Корзина</a></li>
        <section>
            {% block menu %} {% endblock %}
        </section>
        <section>
            {% block page_content %} {% endblock %}
        </section>
    </ul>
    <section>
        {% block auth_content %} {% endblock %}
    </section>
</body>
</html>